@model IEnumerable<Produto>
@{
    ViewData["Title"] = "ListarProdutos";
}

<h1>Listar de Produtos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descricao</th>
            <th>Preco</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Descricao</td>
                <td>@item.Preco</td>


            </tr>
        }

    </tbody>
</table>

