<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarPagina</title>
</head>
<body>
    <h1>Desenvolvimento web com aspnet core</h1>
    <h2>Data Atual: @DateTime.Now.ToLongDateString()</h2>


    
</body>
</html>
