@model Contato
@{
    ViewData["Title"] = "ContatoSalvo";
}

<h1>Contato Salvo</h1>

<div class="margem">
    
    <p>
        <span>Nome : @Model.Nome</span>
    </p>
    <p>
        <span>CPF : @Model.Cpf</span>
    </p>
    <p>
        <span>Data de Nascimento : @Model.DataNascimento</span>
    </p>
    <p>
        <span>Telefone: @Model.Telefone</span>
    </p>


</div>

